.forecast-list-header {
  text-align: center;
}

.forecast-list {
  display: flex;
  flex: 1;
}

.forecast-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.forecast-list-day-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.forecast-list-header > .scale {
  font-size: 20px;
  margin-left: 5px;
  border-bottom: solid 3px cornflowerblue;
}

.forecast-list-header > .scale:hover {
  cursor: pointer;
  font-weight: bold;
}
