.forecast-list-header-container {
  text-align: center;
}

.forecast-list-header {
  text-align: center;
  display: inline-block;
}

.forecast-list {
  display: flex;
  flex: 1;
}

.forecast-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.forecast-list-day-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.forecast-list-header-container > .header-clickable {
  font-size: 20px;
  margin-left: 5px;
  border-bottom: solid 1px cornflowerblue;
  display: inline-block;
}

.forecast-list-header-container > .header-clickable:hover {
  cursor: pointer;
}
